body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header__container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header__logo {
    margin-right: 76px;
}

.header__menu {
    display: flex;
    gap: 40px;
}

.logo-studio {
    color: #2e2f42;
}

.header__link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.header__link:hover,
.header__link:focus {
    color: #404bbf;
}

.address-block {
    font-style: normal;
}



.contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.action-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.action-btn:hover,
.action-btn:focus {
    background-color: #404BBF;
}

.advantage-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantage-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}